/*removing the spaces*/
*{
    padding: 0;
    margin: 0;
}
/* styling the size and color of the header */
header{
    background-color: black;
    height: 3.2em;
}
/* styling the logo */
.bxs-ghost{
    font-size: 2.6em;
    color: white;
    padding: 7px;
}
.bxs-ghost:hover{
    color: rgb(54, 255, 64);
}
/* styling the a tag and moving it right   */
a{
    text-decoration-line: none;
    color: rgb(255, 255, 255);
    float: right;
    padding: 1em;
    font-family: Agbalumo;
}
a:hover{
    color: pink;
}
.center{
    width: 300px;
    margin: 0 auto;
    text-align: center;
    padding: 300px;
}
h2{
    padding: 10px;
    font-size: 50px;
}
label{
    font-size: 29px;
}
