/*removing the spaces*/
*{
    padding: 0;
    margin: 0;
}
/* styling the size and color of the header */
header{
    background-color: black;
    height: 3.2em;
}
/* styling the logo */
.bx-ghost{
    font-size: 2.6em;
    color: white;
    padding: 7px;
}
/* styling the a tag and moving it right   */
a{
    text-decoration-line: none;
    color: rgb(255, 255, 255);
    float: right;
    padding: 1em;
    font-family: Agbalumo;
    
}
/* styling the footer changing its width to fit the whole screen */
.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    font-family: Agbalumo;
    padding: 0.4em;
}