*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #85FFBD;
    background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
/* .container{
    display: flex;
    flex-direction: column;
    justify-content: center; 
} */
i{
    font-size: 200px;
}
.icon, h2, p{
    align-self: center;
}
button{
    align-self: center;
    border: none;
    padding: 10px;
    border-radius: 10px;
}
h2{
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}
a{
text-decoration-line: none;
}

