* {
  font-family: "Coustard", serif;
  font-weight: 400;
  font-style: normal;
}
#loading {
  border: 8px solid #ffcc00;
  border-top: 8px solid #fff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1.5s linear infinite, glow 1s ease-in-out infinite alternate;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes glow {
  0% {
    box-shadow: 0 0 10px #ffcc00;
  }
  100% {
    box-shadow: 0 0 20px #ffcc00, 0 0 30px #ffcc00;
  }
}
body {
  background-color: black;
  background-image: url("pexels-photo-2469122.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#container {
  padding: 10px;
  margin: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  border: 5px solid gold;
  font-size: 20px;
}
#name {
  color: #ffcc00;
  font-size: 5em;
}
h1 {
  font-family: "Honk", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  margin: 2px;
}
