*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
nav{
    background-color: black;
    padding-top: 20px
}
#navText{
    display: inline;
    color: white;
    position: relative;
    left: 1398px;
    bottom: 20px;
    text-decoration: none;
    /* border: 2px solid orange; */
}
#Logo{
    /* border: 3px solid orange; */
    width: 50px;  
}
footer{
    position: fixed;
    bottom: 0;
}
p{
    position: relative;
    left: 40em;
}
img{
    
}