.bxl-dev-to{
    font-size: 50px;
}
#image1{
    /* display: flex; */
    width: 400px;
}
.bx-info-circle{
    font-size: 50px;
    color: orange;
}
.icons_container{
    font-size: 50px;
}
.Orange{
    color: Orange;
}
li{
    list-style-type: none;
}
/* all the media queries */
@media all and (min-width: 768px) and (max-width: 1024px) {
    
}

@media all and (min-width: 480px) and (max-width: 768px) {
 
}

@media all and (min-width: 320px) and (max-width: 480px) {
    
  
}