.bxl-dev-to{
    font-size: 50px;
}
#image1{
    /* display: flex; */
    width: 400px;
}
.bx-infinite{
    font-size: 50px;
    color: lightgrey;
}
.bx-info-circle{
    font-size: 50px;
    color: black;
}
.bx-desktop{
    font-size: 50px;
    color: black;
}
.bx-wink-smile{
    font-size: 50px;
    color: black;
}
.bxs-contact{
    font-size: 50px;
    color: orange;
}
.icons_container{
    font-size: 50px;
}

.Orange{
    color: Orange;
}
.Orange:hover{
    color: black;
}
li{
    list-style-type: none;
}
#info{
    flex-wrap: wrap;
}
#underline{
    text-decoration: underline 1px;
    text-underline-position: under;
}
#Projects{
    margin-top: 100px;
    flex-wrap: wrap;
}
#Contact{
    font-size: 30px;
}
/* all the media queries */
@media all and (min-width: 768px) and (max-width: 1024px) {
    
}

@media all and (min-width: 480px) and (max-width: 768px) {
 
}

@media all and (min-width: 320px) and (max-width: 480px) {
    
  
}