*{
    padding: 0;
    margin: 0;
}
body{
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}
/* navbar settings */
.nav_bar{
    list-style-type: none;
    display: flex;
    padding: 1rem;
}
li{
    padding: 10px;
}
a{
    padding: 10px;
    text-decoration-line: none;
    font-family: Agbalumo;
    color: black;
}
/* img setting */

img{
    border: 5px solid white;
    border-style: double;
    border-radius: 50%;
}
/* icons settings */
.icons_container{
    
}
.white{
    font-size: 2rem;
}